/* Estilo geral da página */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Cor de fundo geral */
}

header {
  background-color: #333; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  padding: 10px;
  text-align: right;
}

.header-title {
  margin: 0px; /* Adicione espaçamento inferior conforme necessário */
  color: #fff; /* Cor do texto do título */
}

.logout-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #3498db; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto */
  border-radius: 5px; /* Cantos arredondados */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */

  /* Adicione outras propriedades de estilo conforme necessário */
}

.logout-link:hover {
  background-color: #2980b9; /* Cor de fundo alterada ao passar o mouse */
}

.logout-icon {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
  font-size: 1.2em; /* Tamanho do ícone */
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2980b9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*          BODY            */

h1 {
  color: #333;
  text-align: center;
}

p {
  display: inline-flex;
  margin: 10px;
}

/* Estilização Formulario Inicial */

#formulario-apartamento {
  text-align: -webkit-center;
  max-width: 95%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search-icon{
  padding-left: 60%;
  }

  .fa-magnifying-glass:before, .fa-search:before {
    cursor: pointer;
  }

select {
  background-color: #f9f9f9;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  width: 18%;
}

/* Botão de limpar*/
 #limparPesquisa
 {
  background-color:#0f5e9e;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 30px;
  letter-spacing: .5px;
  text-transform: uppercase;
  border:none;
  border-radius: 15px;
  font-family: sans-serif;
  color: #000;
  font-size: 20px;
  cursor: pointer;  
  transition: transform 200ms ease-in-out;
 }

 #limparPesquisa:hover{
  transform: scale(1.04);
 }



/* Lista APTOs */

.container{
  max-width: 95%; /* Defina a largura máxima da lista */
  margin: 0 auto; /* Centralize horizontalmente */
  padding: 20px; /* Adicione um espaçamento interno */
  background-color: #f9f9f9; /* Cor de fundo da lista */
  border-radius: 8px; /* Adicione bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione uma sombra */
}

/* Estilo das divs de blocos */
#blocos-container {
  text-align: center; /* Alinhe as divs ao centro horizontalmente */
  margin: 1%;
  cursor: pointer;
}

#blocos-container > div {
  display: inline-block; /* Exibe as divs lado a lado */
  margin: 10px; /* Adiciona margem entre as divs */
  padding: 10px; /* Adiciona preenchimento interno às divs */
  background-color: #ddd; /* Cor de fundo das divs */
  border-radius: 5px; /* Adiciona bordas arredondadas */
}


.bloco-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

.bloco-header h2 {
  margin: 0; /* Remova a margem padrão do <h2> */
}

.bloco-header i {
  margin-left: 10px; /* Adicione margem à esquerda para separar o ícone do texto */
}

/* Estilos para a tabela */
#apartamentos {
  border-collapse: collapse; /* Mescla as bordas das células */
  width: 100%;
}

#apartamentos th,
#apartamentos td {
  border: 1px solid #000; /* Adiciona uma borda a todas as células */
  padding: 8px;
  text-align: left;
}

/* Estilos para a borda superior da primeira linha do apartamento */
.apartamento:first-child td {
  border-top: 2px solid #000000; /* Define uma borda superior mais espessa */
}

/* Estilos para a borda inferior da última linha do apartamento */
.apartamento:last-child td {
  border-bottom: 2px solid #000000; /* Define uma borda inferior mais espessa */
}

.presente {
  background-color: #ffcccc; /* Vermelho claro */
}

.ausente {
  background-color: #ccffcc; /* Verde claro */
}


.apartamento .carros {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo dos itens da lista de carros */

.apartamento .carros li {
  display: inline-block;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-right: 5px;
}

/* Estilo do botão para visualizar placas */

#visualizar-placas {
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo das placas ocultas */

.oculto {
  visibility: visible;
}


.icons{
  text-align: center;
}


/* Adicione estilos para a tabela */
table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 5px;
  
}

td {
  padding: 3px;
}

#lista {
  /* Adicione a propriedade columns para dividir a lista em colunas */
  
  /* Defina uma largura máxima para evitar que as colunas se espalhem muito */
  max-width: 95%;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5%;
}

#lista ul {
  /* Adicione margem automática para centralizar a lista */
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

#lista ul li {
  padding: 8px;
}

/* Estilo para a caixa de diálogo de confirmação */
.confirmation-dialog {
  display: none; /* Inicialmente, oculta a caixa de diálogo */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.confirmation-dialog h2 {
  margin-top: 0;
}

.confirmation-buttons {
  text-align: center;
}

.confirmation-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-buttons .btn-confirm {
  background-color: #4caf50;
  color: #fff;
}

.confirmation-buttons .btn-cancel {
  background-color: #f44336;
  color: #fff;
}




/* Estilização da Lista */

img {
  width: 20%;
  height: 20%
}

.checkbox {
  opacity: 0;
  width: 5%;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 15px;
  width: 45px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(26px);
}

.toggle-car {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza na vertical */
}

.toggle-Moto {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza na vertical */
}

.toggle-off .label {
  display: none;
}


.apartamento-par{
  background-color: #888888;
}
.apartamento-impar{
  background-color: #dadada;
}

td {
  font-weight: bold;
}

th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}



/* Estilo do rodapé */
footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Ocupa toda a largura da página */
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  padding: 20px 0; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinhamento do texto ao centro */
}

.footer-container {
  max-width: 90%; /* Largura máxima do conteúdo do rodapé */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.footer-container p {
  margin: 0; /* Remove a margem padrão do parágrafo */
}