/* Estilo geral da página */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Cor de fundo geral */
}

header {
  background-color: #333; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  padding: 10px;
  text-align: right;
  margin-bottom: 3%/* Adicione uma margem inferior para separar do próximo elemento */
}

.header-title {
  margin: 0px; /* Adicione espaçamento inferior conforme necessário */
  color: #fff; /* Cor do texto do título */
}

.logout-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #3498db; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto */
  border-radius: 5px; /* Cantos arredondados */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */

  /* Adicione outras propriedades de estilo conforme necessário */
}

.logout-link:hover {
  background-color: #2980b9; /* Cor de fundo alterada ao passar o mouse */
}

.logout-icon {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
  font-size: 1.2em; /* Tamanho do ícone */
}

a {
  color: #fff;
  text-decoration: none ; /*Tira o sublihado*/
  transition: 0.3s;
}

a :hover {
  opacity: 0.7;
} 

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.voltar {
display: flex;
align-items: center;
float: left;
overflow: hidden;
font-size: 16px;
padding: 14px 16px;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2980b9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*          BODY            */

h1 {
  color: #333;
  text-align: center;
}

p {
  display: inline-flex;
  margin: 10px;
}


/* Estilos para a tabela */
table {
  width: 90%; /* Use 90% da largura disponível */
  border-collapse: collapse; /* Mesclar as bordas das células */
  margin: 0 auto; /* Centralize a tabela horizontalmente */
  margin-bottom: 20px; /* Adicione espaço abaixo da tabela */
}

/* Estilos para o cabeçalho da tabela */
thead {
  background-color: #333; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto no cabeçalho */
}

thead th {
  padding: 10px; /* Adicione espaço interno nas células do cabeçalho */
  text-align: center; /* Alinhe o texto ao centro no cabeçalho */
}

/* Estilos para as células da tabela */
td {
  padding: 10px; /* Adicione espaço interno nas células */
  text-align: center; /* Alinhe o texto ao centro nas células */
}

/* Estilos para linhas pares e ímpares */
tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Cor de fundo das linhas pares */
}

tbody tr:nth-child(odd) {
  background-color: #fff; /* Cor de fundo das linhas ímpares */
}

/* Estilos para células de dados específicas */
tbody td {
  border: 1px solid #ccc; /* Adicione uma borda a todas as células */
}

/* Estilos para células de cabeçalho específicas */
thead th:first-child,
tbody td:first-child {
  border-left: none; /* Remova a borda esquerda da primeira célula */
}

thead th:last-child,
tbody td:last-child {
  border-right: none; /* Remova a borda direita da última célula */
}

/* Estilos para células de cabeçalho específicas */
thead th:first-child {
  border-top-left-radius: 5px; /* Adicione borda arredondada superior esquerda */
}

thead th:last-child {
  border-top-right-radius: 5px; /* Adicione borda arredondada superior direita */
}

tbody td:first-child {
  border-bottom-left-radius: 5px; /* Adicione borda arredondada inferior esquerda */
}

tbody td:last-child {
  border-bottom-right-radius: 5px; /* Adicione borda arredondada inferior direita */
}






/* Estilo do rodapé */
footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%; /* Ocupa toda a largura da página */
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  padding: 20px 0; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinhamento do texto ao centro */
}

.footer-container {
  max-width: 90%; /* Largura máxima do conteúdo do rodapé */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.footer-container p {
  margin: 0; /* Remove a margem padrão do parágrafo */
}




/* Estilos para a div que envolve o formulário */
.form-container {
  text-align: center;
  width: 50%;
  margin: 0 auto; /* Centralize horizontalmente */
  background-color: #fff; /* Cor de fundo branca */
  border-radius: 10px; /* Cantos arredondados */
  padding: 20px; /* Espaçamento interno */
  margin-bottom: 20px; /* Margem inferior */
}

/* Estilos para o título do formulário */
.form-container h3 {
  text-align: center; /* Centraliza o texto */
  margin-top: 0;
}



/* Estilos para os inputs */
.form-container input[type="text"] {
  padding: 10px; /* Espaçamento interno */
  border-radius: 5px; /* Cantos arredondados */
  border: 1px solid #ccc; /* Borda cinza */
  margin-bottom: 10px; /* Margem inferior */
}

/* Estilo de foco para inputs */
.form-container input[type="text"]:focus {
  outline: none; /* Remover o contorno padrão */
  border-color: #2ecc71; /* Cor da borda ao focar */
  box-shadow: 0 0 5px #2ecc71; /* Sombra ao focar */
}


/* Estilos para o botão de limpar filtro */
button[type="button"] {
  padding: 10px 15px; /* Adicione espaço interno no botão */
  background-color: #e74c3c; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remova a borda do botão */
  border-radius: 5px; /* Cantos arredondados */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  cursor: pointer; /* Mude o cursor ao passar por cima */
}

button[type="button"]:hover {
  background-color: #c0392b; /* Cor de fundo alterada ao passar o mouse */
}


/* Estilos para o botão Filtrar */
button[type="submit"] {
  padding: 10px 15px; /* Adicione espaço interno no botão */
  background-color: #2ecc71; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remova a borda do botão */
  border-radius: 5px; /* Cantos arredondados */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  cursor: pointer; /* Mude o cursor ao passar por cima */
}

button[type="submit"]:hover {
  background-color: #27ae60; /* Cor de fundo alterada ao passar o mouse */
}



