/* Estilo geral da página */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Cor de fundo geral */
}

header {
  background-color: #333; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  padding: 10px;
  text-align: right;
}

.header-title {
  margin: 0px; /* Adicione espaçamento inferior conforme necessário */
  color: #fff; /* Cor do texto do título */
}

.logout-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #3498db; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto */
  border-radius: 5px; /* Cantos arredondados */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */

  /* Adicione outras propriedades de estilo conforme necessário */
}

.logout-link:hover {
  background-color: #2980b9; /* Cor de fundo alterada ao passar o mouse */
}

.logout-icon {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
  font-size: 1.2em; /* Tamanho do ícone */
}

a {
    color: #fff;
    text-decoration: none ; /*Tira o sublihado*/
    transition: 0.3s;
  }

 a :hover {
    opacity: 0.7;
 } 

 .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
 }

 .voltar {
  display: flex;
  align-items: center;
  float: left;
  overflow: hidden;
  font-size: 16px;
  padding: 14px 16px;
}

.bloco h4{
  margin: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2980b9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 
h1 {
  color: #333;
  text-align: center;
}

p {

  display: inline-flex;
  margin: 10px;

}

#formulario-apartamento {
  text-align: -webkit-center;
  max-width: 95%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10 px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



input,
select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.apartamento {
  padding-right: 6%;
  padding-left: 2%;

}

#search-icon-apto{
  float: right;
}

#conta{
  width: 25%;
}


.placa {
  padding-right: 6%;
  padding-left: 2%;
}

#search-icon{
  float: right;
}

.fas.fa-search {
  display: block; /* Garante que as dimensões definidas se apliquem corretamente */
  width: 27px;
  height: 27px;
  line-height: 28px; /* Centraliza verticalmente */
  text-align: center; /* Centraliza horizontalmente */
  cursor: pointer; /* Adiciona o cursor de ponteiro ao passar o mouse */
  /* background-color: #f0f0f0;  Cor de fundo opcional */
  border-radius: 50%; /* Torna o ícone circular (opcional, pode ser removido se não desejado) */
  transform: scale(1.3);
}

.apartamento label,
.placa label {
    line-height: 27px; /* Ajuste o line-height para corresponder à altura dos ícones */
    vertical-align: middle; /* Alinha verticalmente o conteúdo dentro das células */
}

  .fa-magnifying-glass:before, .fa-search:before {
    cursor: pointer;
  }

select {
  background-color: #f9f9f9;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  width: 18%;
}
#TabelaPesquisa{
    margin-bottom: 0.3px;
}
/* Botão de limpar*/
 #limparPesquisa
 {
  background-color:#2681cf;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 210px;
  height: 35px;
  letter-spacing: .5px;
  text-transform: uppercase;
  border:none;
  border-radius: 20px;
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
  cursor: pointer;  
  transition: transform 200ms ease-in-out;
 }

 #limparPesquisa:hover{
  transform: scale(1.04);
 }



/* Lista APTOs */

.container{
  max-width: 95%; /* Defina a largura máxima da lista */
  margin: 0 auto; /* Centralize horizontalmente */
  padding: 20px; /* Adicione um espaçamento interno */
  background-color: #f9f9f9; /* Cor de fundo da lista */
  border-radius: 8px; /* Adicione bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione uma sombra */
}

/* Estilo das divs de blocos */
#blocos-container {
  text-align: center; /* Alinhe as divs ao centro horizontalmente */
  margin: 1%;
  cursor: pointer;
}

#blocos-container > div {
  display: inline-block; /* Exibe as divs lado a lado */
  margin: 10px; /* Adiciona margem entre as divs */
  padding: 10px; /* Adiciona preenchimento interno às divs */
  background-color: #ddd; /* Cor de fundo das divs */
  border-radius: 5px; /* Adiciona bordas arredondadas */
}


.bloco-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

.bloco-header h2 {
  margin: 0; /* Remova a margem padrão do <h2> */
}

.bloco-header i {
  margin-left: 10px; /* Adicione margem à esquerda para separar o ícone do texto */
}

/* Estilos para a tabela */
#apartamentos {
  border-collapse: collapse; /* Mescla as bordas das células */
  width: 100%;
}

.verde {
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Adicionando margem para separar a bolinha do texto */
}

.vermelha {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Adicionando margem para separar a bolinha do texto */
}

#apartamentos th,
#apartamentos td {
  border: 1px solid #000; /* Adiciona uma borda a todas as células */
  padding: 8px;
  text-align: center;
}

/* Estilos para a borda superior da primeira linha do apartamento */
.apartamento:first-child td {
  border-top: 2px solid #000000; /* Define uma borda superior mais espessa */
}

/* Estilos para a borda inferior da última linha do apartamento */
.apartamento:last-child td {
  border-bottom: 2px solid #000000; /* Define uma borda inferior mais espessa */
}

.presente {
  background-color: #ffcccc; /* Vermelho claro */
}

.ausente {
  background-color: #ccffcc; /* Verde claro */
}

/* Estilo dos apartamentos */
/*
.apartamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #c9c9c9;
}
*/

/* Estilo dos apartamentos com carro presente 

.apartamento.presente {
  background-color: #fffacd;
}
*/

/* Estilo dos apartamentos com carro ausente 

.apartamento.ausente {
  background-color: #cfc;
}
*/

/* Estilo da lista de carros */

.apartamento .carros {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo dos itens da lista de carros */

.apartamento .carros li {
  display: inline-block;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-right: 5px;
}

/* Estilo do botão para visualizar placas */

#visualizar-placas {
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo das placas ocultas */

.oculto {
  visibility: visible;
}


/* Estilo das bolinhas de status */

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.presente .status {
  background-color: #ff0000;
}

.ausente .status {
  background-color: #00ff00;
}

li #Presente{
  background-color: #f81616;
}

li #Ausente{
  background-color: #00ff00;
}

/* Adicione estilos para a tabela */
table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 5px;
  
}

td {
  padding: 3px;
}

#lista {
  /* Adicione a propriedade columns para dividir a lista em colunas */
  
  /* Defina uma largura máxima para evitar que as colunas se espalhem muito */
  max-width: 95%;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5%;
}

#lista ul {
  /* Adicione margem automática para centralizar a lista */
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

#lista ul li {
  padding: 8px;
}

/* Estilo para a caixa de diálogo de confirmação */
.confirmation-dialog {
  display: none; /* Inicialmente, oculta a caixa de diálogo */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.confirmation-dialog h2 {
  margin-top: 0;
}

.confirmation-buttons {
  text-align: center;
}

.confirmation-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-buttons .btn-confirm {
  background-color: #4caf50;
  color: #fff;
}

.confirmation-buttons .btn-cancel {
  background-color: #f44336;
  color: #fff;
}


/* Estilo do rodapé */
footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Ocupa toda a largura da página */
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  padding: 20px 0; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinhamento do texto ao centro */
}

.footer-container {
  max-width: 90%; /* Largura máxima do conteúdo do rodapé */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.footer-container p {
  margin: 0; /* Remove a margem padrão do parágrafo */
}


.vaga {
  width: 100px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: transparent; /* Sem cor de fundo por padrão */
}
#vaga_livre {
  background-color: gray; /* Cor de fundo verde quando presente é true */
}

#vaga_ocupada {
  background-color: gray; /* Cor de fundo vermelha quando presente é false */
}


#vaga_livre.true {
  background-color: green; /* Cor de fundo verde quando presente é true */
}

#vaga_ocupada.false {
  background-color: red; /* Cor de fundo vermelha quando presente é false */
}


img {
  width: 20%;
  height: 20%
}

.checkbox {
  opacity: 0;
  width: 5%;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 15px;
  width: 45px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(26px);
}

.toggle-car {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza na vertical */
}

.toggle-Moto {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza na vertical */
}

.toggle-off .label {
  display: none;
}


.apartamento-par{
  background-color: #888888;
}
.apartamento-impar{
  background-color: #dadada;
}

td {
  font-weight: bold;
}

th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}


#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Garante que a tela de carregamento apareça na frente de outros elementos */
}

#loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.popup {
  display: none;
  position: fixed;
  top: 50%; /* Centraliza verticalmente */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #4CAF50;
  max-width: 300px;
  text-align: center;
}


.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #4CAF50;
}

.close:hover {
  color: #f44336;
}

.show {
  display: block;
}

/* Animação de fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s;
}

#loadingBloco{
  display: none;
  position: fixed;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#loadingBloco i {
  margin-right: 10px;
}

#erroAptoPlaca {
  display: none;
  position: fixed;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(252, 75, 75, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#erroAptoPlaca i {
  margin-right: 10px;
}
